.app {
    max-height: 1024px;
    max-width: 1440px;
    font-family: Montserrat;
    display: flex;
    flex-direction: row;

}

.page {
    display: flex;
    flex-direction: column;
    background-color:   #F5F7FA;
    min-width: 1160px;
    margin-left: 40px;
}