.app {
    margin: 0 auto;
    max-height: 1024px;
    max-width: 1440px;
    font-family: Montserrat;
    display: flex;
    flex-direction: row;

}

.page {
    display: flex;
    flex-direction: column;
    background-color:   #F5F7FA;
    padding: 0 40px;
    min-width: 1000px;
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 760px;
        padding: 0;
        margin: 0 auto;
    }
}