.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 76 px;
}

.header__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__user_logo {
    height: 48px;
    width: 48px;
    background-color: red;
    border-radius: 30px;
}

.header__createRequestBtn {
    background-color: #0078FF;
    border-radius: 8px;
    width: 204px;
    height: 48px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.header__createRequestBtn:hover {
    background-color: antiquewhite;
    color: black;
}